<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Windows.Interactivity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.ServiceLocation" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Prism.SharedInterfaces" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.1.0" newVersion="1.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Prism.PubSubEvents" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DynamoServices" publicKeyToken="null" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.18.0.3336" newVersion="2.18.0.3336" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Analysis" publicKeyToken="null" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.18.0.3336" newVersion="2.18.0.3336" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DesignScriptBuiltin" publicKeyToken="null" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.17.0.3493" newVersion="2.17.0.3493" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DSCoreNodes" publicKeyToken="null" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.18.0.3336" newVersion="2.18.0.3336" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DSCPython" publicKeyToken="null" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.18.0.3336" newVersion="2.18.0.3336" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DynamoApplications" publicKeyToken="null" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.18.0.3336" newVersion="2.18.0.3336" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DynamoCore" publicKeyToken="null" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.18.0.3336" newVersion="2.18.0.3336" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DynamoInstallDetective" publicKeyToken="null" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.18.0.3336" newVersion="2.18.0.3336" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DynamoShapeManager" publicKeyToken="null" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.18.0.3336" newVersion="2.18.0.3336" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DynamoUnits" publicKeyToken="null" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.18.0.3336" newVersion="2.18.0.3336" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DynamoUtilities" publicKeyToken="null" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.18.0.3336" newVersion="2.18.0.3336" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ProtoCore" publicKeyToken="null" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.18.0.3336" newVersion="2.18.0.3336" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ProtoGeometry" publicKeyToken="null" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.16.0.3176" newVersion="2.16.0.3176" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="RevitAPI" publicKeyToken="null" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-23.0.0.0" newVersion="23.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="RevitAPIUI" publicKeyToken="null" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-23.0.0.0" newVersion="23.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Collections.Immutable" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.5.0" newVersion="1.2.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DynamoCoreWpf" publicKeyToken="null" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.18.0.3336" newVersion="2.18.0.3336" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" /></startup></configuration>
